html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

hr {
  border: solid 1px #C4C4C4;
}

li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input::-webkit-input-placeholder {
  color: white;
}

input::-moz-placeholder {
  color: white;
}

label {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

/* Убрать скролл
::-webkit-scrollbar {
  width: 0;
} */