.containerHed {
  width: 1140px;
  height: 80px;
  margin: 25px auto;
}


/* header a {
  color: black;

} */

.logo {
  width: 283px;
  height: 80px;
}

.nav {
  display: flex;
}

.menu {
  display: flex;
  padding: 0;
  list-style: none;
  align-items: center;
  justify-content: center;
}


.navLogo {
  display: block;
  /* padding: 0 50px; */

}

.logoLink {
  display: inline-block;
}


.navItem {
  margin-right: 76px;
}


.account {
  margin-left: 20px;
}

.navItem a {
  text-decoration: none;
  font-size: 18px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}

.countProduct {
  width: 18px;
  height: 18px;
  background: black;
  border-radius: 50%;
  display: block;
  text-align: center;
  position: absolute;
  margin-left: 13px;
  margin-top: -6px;

}

.count {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}


.hr {
  border: solid 1px #C4C4C4;
}

.navMobile, .burger, .topnav {
  display: none;
}

